<!--
    * Name:         trails.ng.html
    * Package:      premi/client/viewer/views
    * Author:       Cossu Mattia
    * Date:         2015-08-03

    * Use:
    Template della vista associata allo $scope di trailsCtrl. Fornisce la lista dei trail
    associati alla presentazione che l’utente intende visualizzare
    
    * Changes:
    Version     Date        Who                 Changes                 Reason
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.3         2015-08-15  De Lazzari Enrico   modifica stile
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.2         2015-08-04  Cossu Mattia        incremento template
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.1         2015-08-03  Cossu Mattia        prima stesura template
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

    * Created by 404Notfound for Premi - Better than Prezi!

    * Premi is a free software: you can redistribute it and/or modify
    * it under the terms of the GNU General Public License as published by
    * the Free Software Foundation, either version 3 of the License, or
    * (at your option) any later version.

    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    * GNU General Public License for more details.

    * You should have received a copy of the GNU General Public License
    * along with this program. If not, see <http://www.gnu.org/licenses/>
-->


<navbar username="{{currentUser.username}}"></navbar>

<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            <h4>Trails</h4>
            <ul ng-repeat="trail in Trails" class="collection">
                <li class="collection-item avatar">
                    <a ng-href="/present/{{trail.presid}}/trail/{{trail._id}}">
                        <i class="material-icons circle green">play_arrow</i>
                    </a>
                    <span class="title">{{trail.title}}</span>
                    <p>{{pres.description}}</p>
                </li>
            </ul>
            <div class="">
                <a href="/presentations" class=" waves-light btn blue accent-2 white-text left">
                    <i class="material-icons left">exit_to_app</i> Exit from presenter
                </a>
                
            </div>
        </div>
    </div>
</div>