<!--
    * Name:         viewer.ng.html
    * Package:      premi/client/viewer/views
    * Author:       Cossu Mattia
    * Date:         2015-08-04

    * Use:
    Template della vista associata allo $scope di viewerCtrl. Visualizza la presenta-
    zione secondo il trail, o percorso, scelto dall’utente. Sfrutta la libreria esterna
    impress.js per lo scorrimento dei frame
    
    * Changes:
    Version     Date        Who                 Changes                 Reason
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.5         2015-08-13  Cossu Mattia        correzione errore uscita da 
                                                checkpoint
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.4         2015-08-10  Cossu Mattia        incremento template per modifiche
                                                al controller
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.3         2015-08-07  Cossu Mattia        modifiche per coordinamento con
                                                impress
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.2         2015-08-06  Cossu Mattia        incremento template
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.1         2015-08-04  Cossu Mattia        prima stesura template
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    * Created by 404Notfound for Premi - Better than Prezi!

    * Premi is a free software: you can redistribute it and/or modify
    * it under the terms of the GNU General Public License as published by
    * the Free Software Foundation, either version 3 of the License, or
    * (at your option) any later version.

    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    * GNU General Public License for more details.

    * You should have received a copy of the GNU General Public License
    * along with this program. If not, see <http://www.gnu.org/licenses/>
-->


<navbar username="{{currentUser.username}}" ng-if="play_active == false"></navbar>

<div class="grey darken-4" ng-if="play_active == false" style="position: fixed; top:0px; left:0; height: 100%; width: 100%; z-index: 996;">
    <div ng-if="play_active == false" ng-click="init()" class="fixed-action-btn" style="top: calc(50% - 27.75px); left: calc(50% - 27.75px); pointer-events:auto;">
        <a class="btn-floating btn-large green">
            <i class="material-icons">play_arrow</i>
        </a>
    </div>
    <div ng-if="play_active == false" class="fixed-action-btn" style="bottom: calc(50% - 80px); left: calc(50% - 133px); pointer-events:auto;">
        <a href="/presentations" class="btn btn-flat white-text">
            <i class="material-icons left">exit_to_app</i> Exit from presenter
        </a>
    </div>
</div>

<div id="impresshook" class="hide">
<style ng-if="play_active == true" type="text/css">
body {
    min-height: 740px;
    background: {{bgColor}};
    pointer-events: none;
    height:100%;
}

h1{
    font-size: 3em;
}

#impresshook{
    pointer-events: auto;
    background-color: red;
} 

.step {
    position: relative;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
}
.slide {
    display: block;
    -webkit-transition: opacity 0.3s ease;
    opacity: 0.1;
    pointer-events:none;
}

.step.active{
    opacity: 1;
    pointer-events:auto;
}
</style>
<style type="text/css" ng-repeat="go in getContent()" ng-if="go.type!='frame'">
    #{{go._id}} {
        opacity: 1;
    };
</style>
<style type="text/css">
.goframe{

    /*border:2px solid;*/
    border-radius: 30px;
    
}
</style>

    <div class="impress" id="impress">
        <div ng-repeat="go in getContent()" id="{{go._id}}" ng- class="slide step" style="height:{{go.height}}px; width:{{go.width}}px;  " data-x="{{go.dataX}}" data-y="{{go.dataY}}" data-z="{{go.dataZ}}" data-scale="{{go.scale}}">
            <div ng-if="go.type=='frame'" id="f-{{frame._id}}" style="height:calc(100%); width:calc(100%); margin:6px; background-color:{{go.backgroundColor}};" class="goframe">
                <span  ng-repeat="go_f in go.content | orderObjectBy:'lvl'" style="height:{{go_f.height}}px; width:{{go_f.width}}px;  transform: translate3d({{go_f.dataX}}px,{{go_f.dataY}}px,{{go_f.dataZ}}px) scale({{go_f.scale}});            -webkit-transform: translate3d({{go_f.dataX}}px,{{go_f.dataY}}px,{{go_f.dataZ}}px) scale({{go_f.scale}}); position:absolute; min-height:20px; min-width:20px; " data-x="{{go_f.dataX}}" data-y="{{go_f.dataY}}" >

                    <img ng-if="go_f.type=='image'" id="f-{{go_f._id}}" class="goimage" src="{{go_f.src}}" style="height:calc(100%); width:calc(100%);"/>
                    <div ng-if="go_f.type=='shape'" style="zoom:{{go_f.zoom}}%">
                        <svg id="{{go_f._id}}" style="background-color: transparent;" width="100%" height="100%" viewBox="0 0 48 48" ><path fill="black" d=""/></svg>
                    </div>
                    <div ng-if="go_f.type=='text'" id="{{go_f._id}}" class="editable gotext" style="height:{{go_f.height}}em; width:{{go_f.width}}em; margin:6px; color:{{go_f.color}}; font-weight: {{go_f.weight}}; font-style: {{go_f.fontStyle}}; text-decoration: {{go_f.textDecoration}}; font-family: {{go_f.fontFamily}}; font-size: {{go_f.sizeFontText}}px;">{{go_f.text}}</div>
                </span>
            </div>
            <img ng-if="go.type=='image'" id="f-{{go._id}}" class="goimage" src="{{go.src}}" style="height:100%; width:100%;  "/>
            <div ng-if="go.type=='shape'" style="zoom:{{go.zoom}}%">
                <svg id="{{go._id}}" style="background-color: transparent;" width="100%" height="100%" viewBox="0 0 48 48" ><path fill="black" d=""/></svg>
            </div>
            <div ng-if="go.type=='text' && !(go._id==getSelectedGOId())" id="{{go._id}}" class="editable gotext" data-x="{{go.dataX}}" style="height:{{go.height}}em; width:{{go.width}}em; margin:6px; color:{{go.color}}; font-weight: {{go.weight}}; font-style: {{go.fontStyle}}; text-decoration: {{go.textDecoration}}; font-family: {{go.fontFamily}}; font-size: {{go.sizeFontText}}px; ;">{{go.text}}</div>
        </div>
    </div>
</div>
<div ng-if="play_active == true" ng-click="next()" class="fixed-action-btn" style="bottom: 75.5px; right: 20px; pointer-events:auto;z-index:1001">
    <a class="btn-floating btn-large grey darken-4">
        <i class="material-icons">skip_next</i>
    </a>
</div>
<div ng-if="play_active == true" ng-click="prev()" class="fixed-action-btn" style="bottom: 75.5px; right: 131px; pointer-events:auto;">
    <a class="btn-floating btn-large grey darken-4">
        <i class="material-icons">skip_previous</i>
    </a>
</div>
<div ng-if="play_active == true && isCurrentCheck()==true" ng-click="enterIn()" class="fixed-action-btn" style="bottom: 20px; right: 75.5px; pointer-events:auto;">
    <a class="btn-floating btn-large grey darken-4">
        <i class="material-icons">expand_more</i>
    </a>
</div>
<div ng-if="play_active == true" ng-click="returnTo()" class="fixed-action-btn" style="bottom: 131px; right: 75.5px; pointer-events:auto;">
    <a class="btn-floating btn-large grey darken-4">
        <i class="material-icons">flag</i>
    </a>
</div>
<div ng-if="play_active == true" class="fixed-action-btn" style="top: 20px; right: 20px; pointer-events:auto;">
    <a href="/" class="btn-floating btn-large grey darken-4">
        <i class="material-icons">exit_to_app</i>
    </a>
</div>

