<!--
	* Name: 		presentations.ng.html
	* Package: 		premi/client/presentationManager/views/
	* Author: 		Manuto Monica
	* Date: 		2015-06-21

	* Use:
	Template della vista associata allo $scope di presentationsCtrl. Mostra una lista
	di tutte le presentazioni dell’utente

	
	* Changes:
	Version		Date		Who 			Changes				Reason
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.3			2015-07-04	Manuto Monica	grafica				modifiche al css
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.2			2015-06-23	Manuto Monica 	ng-repeat			Modifiche relative a 
																cambiamenti dello scope
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.1			2015-06-21	Manuto Monica 	Prima versione del template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

	* Created by 404Notfound for Premi - Better than Prezi!

	* Premi is a free software: you can redistribute it and/or modify
	* it under the terms of the GNU General Public License as published by
	* the Free Software Foundation, either version 3 of the License, or
	* (at your option) any later version.

	* This program is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	* GNU General Public License for more details.

	* You should have received a copy of the GNU General Public License
	* along with this program. If not, see <http://www.gnu.org/licenses/>
-->

<div class="container">
	<div class="row">
		<div class="col l12 m12 s12">
			<h4>Presentations</h4>
			<ul ng-repeat="pres in Presentations" class="collection">
				<li class="collection-item avatar">
					<a href="/present/{{pres._id}}">
						<i class="material-icons circle green">play_arrow</i>
					</a>
					<span class="title">{{pres.title}}</span>
					<p>{{pres.description}} <br>
					<a ng-href="/presentations/edit/{{pres._id}}">Edit title and description</a></p>
					<a href="/editor/{{pres._id}}" class="secondary-content" style="margin-right: 25px;">
						<i class="yellow-text material-icons">mode_edit</i>
					</a>
					<a ng-href="/presentations/remove/{{pres._id}}" class="secondary-content">
						<i class="material-icons blue-text">delete</i>
					</a>
				</li>
			</ul>
			<div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
				<a data-position="top" data-delay="50" data-tooltip="New presentation" ng-href="/presentations/new" class="tooltipped btn-floating btn-large red">
					<i class="large mdi-content-add"></i>
				</a>
			</div>
		</div>
	</div>
</div>