<!--
	* Name: 		removePresentation.ng.html
	* Package: 		premi/client/presentationManager/views/
	* Author: 		Manuto Monica
	* Date: 		2015-06-20

	* Use:
	Template della vista associata allo $scope di removePresentationCtrl. Permette
	all’utente di rimuovere una presentazione dal database.

	
	* Changes:
	Version		Date		Who 			Changes				Reason
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.2			2015-07-04	Manuto Monica	grafica				modifiche al css
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.1			2015-06-20	Manuto Monica 	Prima versione del template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

	* Created by 404Notfound for Premi - Better than Prezi!

	* Premi is a free software: you can redistribute it and/or modify
	* it under the terms of the GNU General Public License as published by
	* the Free Software Foundation, either version 3 of the License, or
	* (at your option) any later version.

	* This program is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	* GNU General Public License for more details.

	* You should have received a copy of the GNU General Public License
	* along with this program. If not, see <http://www.gnu.org/licenses/>
-->

<action-dialog title="Remove" action-label="remove" action-callback="remove()" discard-label="Discard" discard-callback="discard()">
	<p>Are you really sure you want to remove this presentation?</p>
</action-dialog>