<!--  
    * Name:         changePassword.ng.html
    * Package:      premi/client/userManager/views
    * Author:       Camborata Marco
    * Date:         2015-06-04

    * Use:
    Template della vista associata allo $scope di changePasswordCtrl. Permette il
    cambio della password dell’utente
    
    * Changes:
    Version     Date        Who                 Changes             Reason
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.1         2015-06-04  Camborata Marco     Scrittura del Template
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

    * Created by 404Notfound for Premi - Better than Prezi!

    * Premi is a free software: you can redistribute it and/or modify
    * it under the terms of the GNU General Public License as published by
    * the Free Software Foundation, either version 3 of the License, or
    * (at your option) any later version.

    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    * GNU General Public License for more details.

    * You should have received a copy of the GNU General Public License
    * along with this program. If not, see <http://www.gnu.org/licenses/>
-->

<div class="grey lighten-4" style="max-width:500px; padding: 30px; padding-right: 40px; padding-left: 40px; margin: 0 auto;">
    <h4 class="black-text">Change password</h4>
    <div class="input-field">
        <i class="prefix material-icons">mail</i>
        <input disabled id="icon_email" type="email" ng-model="$root.currentUser.username">
        <label for="icon_email" class="active">Email</label>
    </div>
    <div class="input-field">
        <i class="mdi-action-lock prefix"></i>
        <input id="icon_old_password" type="password" ng-model="oldPassword" class="{{oldPasswordState}}">
        <label for="icon_old_password" data-error="Password may not be empty">Old Password</label>
    </div>
    <div class="input-field">
        <i class="mdi-action-lock prefix"></i>
        <input id="icon_password" type="password" ng-model="psw" class="{{pswState}}">
        <label for="icon_password" data-error="Password may not be empty">New Password</label>
    </div>
    <div class="input-field">
        <i class="mdi-action-lock prefix"></i>
        <input id="icon_confirm" type="password" ng-model="psw_confirm" class="{{psw_confirmState}}">
        <label for="icon_confirm" data-error="Passwords does not match">Confirm Password</label>
    </div>
    <div class="input-field" style="height: 61px;">
        <a class="waves-effect white-text btn blue accent-2 left" ng-click="changePsw()">Change</a>
        <a class="btn btn-flat left" ng-href="/presentations">Discard</a>
    </div>
</div>