<!--  
    * Name:         signup.ng.html
    * Package:      premi/client/userManager/views
    * Author:       Camborata Marco
    * Date:         2015-06-04

    * Use:
    Template della vista associata allo $scope di signupCtrl. Permette all’utente di
	registrarsi nel database, inserendo email e password
    
    * Changes:
    Version     Date        Who                 Changes             Reason
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.1         2015-06-04  Camborata Marco     Scrittura del Template
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


    * Created by 404Notfound for Premi - Better than Prezi!

    * Premi is a free software: you can redistribute it and/or modify
    * it under the terms of the GNU General Public License as published by
    * the Free Software Foundation, either version 3 of the License, or
    * (at your option) any later version.

    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    * GNU General Public License for more details.

    * You should have received a copy of the GNU General Public License
    * along with this program. If not, see <http://www.gnu.org/licenses/>
-->

<h4 class="black-text">Sign up</h4>
<p ng-if="emailExists" class="red-text">Email already exists</p>
<div class="input-field">
    <i class="prefix material-icons">mail</i>
	<input id="signup_icon_email" type="email" ng-model="email" class="{{emailState}}">
	<label for="signup_icon_email" data-error="Need to set a valid email">Email</label>
</div>
<div class="input-field">
    <i class="prefix material-icons">lock</i>
	<input id="signup_icon_password" type="password" ng-model="password" class="{{passwordState}}">
	<label for="signup_icon_password" data-error="Password may not be empty">Password</label>
</div>
<div class="input-field">
    <i class="prefix material-icons">lock</i>
	<input id="signup_icon_confirm" type="password" ng-model="pwdConfirm" class="{{pwdConfirmState}}">
	<label for="signup_icon_confirm" data-error="Passwords does not match">Confirm password</label>
</div>
<div class="input-field" style="height: 61px;">
	<a class="waves-effect white-text btn blue accent-2 left" ng-click="signUp()">Sign up</a>
	<a href="/signin" class="btn btn-flat">Sign in</a>
</div>