<!--
	* Name: 		infographic.ng.html
	* Package: 		premi/client/infographicEditor/views/
	* Author: 		Gobbo Ismaele
	* Date: 		2015-07-14

	* Use:
	Template della vista associata allo $scope di infographicEditorCtrl. Fornisce
	tutti gli strumenti necessari alla modifica dell’infografica della presentazione

	
	* Changes:
	Version		Date		Who 			Changes				Reason
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.5			2015-08-08	Gobbo Ismaele	Incremento del template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.4			2015-08-03	Gobbo Ismaele	Corretti alcuni errori di posizionamento 
											degli oggetti grafici
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.3			2015-08-01	Gobbo Ismaele	Incremento del template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.2			2015-07-16	Gobbo Ismaele	Incremento del template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.1			2015-07-14	Gobbo Ismaele	Inizio della scrittura del template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

	* Created by 404Notfound for Premi - Better than Prezi!

	* Premi is a free software: you can redistribute it and/or modify
	* it under the terms of the GNU General Public License as published by
	* the Free Software Foundation, either version 3 of the License, or
	* (at your option) any later version.

	* This program is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	* GNU General Public License for more details.

	* You should have received a copy of the GNU General Public License
	* along with this program. If not, see <http://www.gnu.org/licenses/>
-->

<div class="editor navbar vertical">
	<nav class="grey darken-4">
		<div class="nav-wrapper">
			<ul class="center-align">
				<li class="logo">
					<a href="">
						<img src="/imgs/premilogo_small.png">
					</a>
				</li>	
				<li class="divider"></li>
				<li class="divider"></li>
				<li class="editors tooltipped" data-position="right" data-delay="50" data-tooltip="Frame editor">
					<a href="" ng-click="saveInfographic();goToState('premi.editor.frame')"><i class="material-icons center-align">picture_in_picture</i></a>
				</li>
				<li class="editors active tooltipped" data-position="right" data-delay="50" data-tooltip="Infographic editor">
					<a href=""><i class="material-icons center-align">map</i></a>
				</li>
				<li class="editors tooltipped" data-position="right" data-delay="50" data-tooltip="Trails editor">
					<a href="" ng-click="saveInfographic();goToState('premi.editor.trails.list')"><i class="material-icons center-align">gesture</i></a>
				</li>
				<li class="divider"></li>	
				<li class="divider"></li>
				<li ng-click="enableStateMenu('framesAddedMenu')">
					<a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Objects added">
						<i class="material-icons center-align">list</i>
					</a>
				</li>
				<li class="divider"></li>	
							
				<li>
					<a ng-click="enableStateMenu('addGraphicObjectMenu')" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Add object">
						<i class="material-icons center-align">add</i>
					</a>
				</li>
				<li>
					<input type="color" id="html5colorpicker" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Change presentation background-color" onchange="angular.element(this).scope().changeBackgroundColorDropzone(this.value)">
				</li>
				<li class="divider"></li>
				<li class="divider"></li>
				<li ng-click="saveInfographic()">
					<a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Save">
						<i class="material-icons center-align">save</i>
					</a>
				</li>
				<li>
					<a ng-click="goToState('premi.presentationManager.presentations')" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Exit from editor">
						<i class="material-icons center-align">exit_to_app</i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div id="framesAdded" class="editor toolbar enabled vertical" ng-class="{'enabled' : (currentState==states.goList) , 'disabled' : (currentState!=states.goList)}">
	<ul>
		<li ng-click="enableStateMenu('addGraphicObjectMenu')">
			<div class="frame" style="border:2px dashed grey;background-color:transparent;margin-top:5px;margin-bottom:10px;">
				<div style=" position:absolute; height:inherit;width:inherit;"  >
					<a class="btn-floating btn-large waves-effect waves-light red" style=" z-index:1000;top:calc(50% - 27.25px);left:calc(50% - 27.25px) ;position:relative;"><i class="material-icons">add</i></a>
				</div>
			</div>
		</li>
		<li ng-repeat="go in getGOContent()" id="added_{{go._id}}" ng-click="selectGO($event,go._id,go.type)" style="position:relative;">
			
	    	<div id="f-{{go._id}}" ng-class="{'active' : (go._id==getSelectedGOId())}" class="frame" >
	    		<div ng-if="go.type=='frame'" style="width:1024px;height:792px;zoom:{{25600/standard_width}}%; background-color:{{go.backgroundColor}};position:absolute; z-index:{{go.lvl}};">
		    		<span  ng-repeat="go_f in go.content | orderObjectBy:'lvl'" style="height:{{go_f.height}}px; width:{{go_f.width}}px;  transform: translate3d({{go_f.dataX}}px,{{go_f.dataY}}px,{{go_f.dataZ}}px) scale({{go_f.scale}});            -webkit-transform: translate3d({{go_f.dataX}}px,{{go_f.dataY}}px,{{go_f.dataZ}}px) scale({{go_f.scale}}); position:absolute; min-height:20px; min-width:20px; z-index:{{go_f.lvl}};" data-x="{{go_f.dataX}}" data-y="{{go_f.dataY}}" >

	                <img ng-if="go_f.type=='image'" id="f-{{go_f._id}}" class="goimage" src="{{go_f.src}}" style="height:calc(100%); width:calc(100%);"/>
	                <div ng-if="go_f.type=='shape'" style="zoom:{{go_f.zoom}}%">
						<svg id="sa-{{go_f._id}}" style="background-color: transparent;" width="100%" height="100%" viewBox="0 0 48 48" ><path fill="black" d=""/></svg>
					</div>
	                <div ng-if="go_f.type=='text'" id="{{go_f._id}}" class="editable gotext" style="height:{{go_f.height}}em; width:{{go_f.width}}em; margin:6px; color:{{go_f.color}}; font-weight: {{go_f.weight}}; font-style: {{go_f.fontStyle}}; text-decoration: {{go_f.textDecoration}}; font-family: {{go_f.fontFamily}}; font-size: {{go_f.sizeFontText}}px;">{{go_f.text}}</div>
	            </span>
                </div>
	    		<div ng-if="go.width>=go.height && go.type!='text'" style="zoom:{{25600/go.width}}%; margin-left:auto; z-index={{go.lvl}};">
			    	<img ng-if="go.type=='image'" id="f-{{go._id}}" class="goimage" src="{{go.src}}" style="height:{{go.height}}px; width:{{go.width}}px;"/>
					<div ng-if="go.type=='shape'" style="zoom:{{go.zoom}}%;height:{{go.height}}px; width:{{go.width}}px;">
						<svg id="a-{{go._id}}" style="background-color: transparent;" width="100%" height="100%" viewBox="0 0 48 48" ><path fill="black" d=""/></svg>
					</div>
					<div ng-if="go.type=='text'" id="{{go._id}}" class="editable gotext" style="height:{{go.height}}em; width:{{go.width}}em; margin:6px; color:{{go.color}}; font-weight: {{go.weight}}; font-style: {{go.fontStyle}}; text-decoration: {{go.textDecoration}}; font-family: {{go.fontFamily}}; font-size: {{go.sizeFontText}}px;">{{go.text}}</div>
				</div>
				<div ng-if="go.width<go.height && go.type!='text'" style="zoom:{{19200/go.height}}%; margin-left:auto;">
			    	<img ng-if="go.type=='image'" id="f-{{go._id}}" class="goimage" src="{{go.src}}" style="height:{{go.height}}px; {{go.width}}px;"/>
					<div ng-if="go.type=='shape'" style="zoom:{{go.zoom}}%;height:{{go.height}}px; width:{{go.width}}px;">
						<svg id="a-{{go._id}}" style="background-color: transparent;" width="100%" height="100%" viewBox="0 0 48 48" ><path fill="black" d=""/></svg>
					</div>
					<div ng-if="go.type=='text'" id="{{go._id}}" class="editable gotext" style="height:{{go.height}}em; width:{{go.width}}em; margin:6px; color:{{go.color}}; font-weight: {{go.weight}}; font-style: {{go.fontStyle}}; text-decoration: {{go.textDecoration}}; font-family: {{go.fontFamily}}; font-size: {{go.sizeFontText}}px;">{{go.text}}</div>
				</div>
			</div>
			<div style="position:absolute;top:20%;left:80%;">
				<img src="imgs/up.png" ng-click="decrementLvl($event,go._id)" style="background:trasparent;width:40px;height:40px">
				<br>
				<img src="imgs/down.png" ng-click="incrementLvl($event,go._id)" style="background:trasparent;width:40px;height:40px">
			</div>
	    </li>
	</ul>
</div> 
<div id="framesToBeAdded" class="editor toolbar vertical" ng-class="{'enabled' : (currentState==states.framesList) , 'disabled' : (currentState!=states.framesList)}">
	<ul>
		<li ng-click="saveInfographic();goToState('premi.editor.frame')">
			<div class="frame" style="border:2px dashed grey;background-color:transparent;margin-top:5px;margin-bottom:10px;">
				<div style=" position:absolute; height:inherit;width:inherit;"  >
					<a class="btn-floating btn-large waves-effect waves-light red" style=" z-index:1000;top:calc(50% - 27.25px);left:calc(50% - 27.25px) ;position:relative;"><i class="material-icons">add</i></a>
				</div>
			</div>
		</li>
		<li ng-repeat="frame in getPresFrames()" ng-if="!hasInfFrames(frame._id)" ng-click="addFrame(frame._id)">
			<div class="frame" ng-class="{'active' : (getCurrentId() == frame._id)}" style="background-color:{{frame.backgroundColor}};">
				<div style="zoom:{{25600/standard_width}}%; position:absolute">
					<span ng-repeat="go_f in frame.content | orderObjectBy:'lvl'" style="height:{{go_f.height}}px; width:{{go_f.width}}px;  transform: translate3d({{go_f.dataX}}px,{{go_f.dataY}}px,{{go_f.dataZ}}px) scale({{go_f.scale}});            -webkit-transform: translate3d({{go_f.dataX}}px,{{go_f.dataY}}px,{{go_f.dataZ}}px) scale({{go_f.scale}}); position:absolute; min-height:20px; min-width:20px; " data-x="{{go_f.dataX}}" data-y="{{go_f.dataY}}" >

	                <img ng-if="go_f.type=='image'" id="f-{{go_f._id}}" class="goimage" src="{{go_f.src}}" style="height:calc(100%); width:calc(100%);"/>
	                <div ng-if="go_f.type=='shape'" style="zoom:{{go_f.zoom}}%">
						<svg id="z-{{go_f._id}}" style="background-color: transparent;" width="100%" height="100%" viewBox="0 0 48 48" ><path fill="black" d=""/></svg>
					</div>
	                <div ng-if="go_f.type=='text'" id="{{go_f._id}}" class="editable gotext" style="height:{{go_f.height}}em; width:{{go_f.width}}em; margin:6px; color:black; font-weight: {{go_f.weight}}; font-style: {{go_f.fontStyle}}; text-decoration: {{go_f.textDecoration}}; font-family: {{go_f.fontFamily}}; font-size: {{go_f.sizeFontText}}px;">{{go_f.text}}</div>
	            </span>
            	</div>
			</div>
		</li>
	</ul>
</div> 

<div id="addGrapicObject_menu" class="editor navbar vertical subnav" ng-class="{'enabled' : (currenState==states.addingGO) , 'disabled' : (currentState!=states.addingGO)}">
	<nav class="grey darken-4">
		<div class="nav-wrapper">
			<ul class="center-align">
				<li ng-click="addGObject('frame')">
					<a href="" class="white-text tooltipped" data-position="right" data-delay="50" data-tooltip="Add available frames">
						<i class="material-icons center-align">picture_in_picture</i>
					</a>
				</li>
				<li>
					<a href="" ng-click="addGObject('image')" class="white-text tooltipped" data-position="right" data-delay="50" data-tooltip="Add an image">
						<i class="material-icons">image</i>
					</a>
				</li>
				<li>
					<a href="#choiceShape" class="modal-trigger white-text tooltipped" data-position="right" data-delay="50" data-tooltip="Add a shape">
						<i class="material-icons">nature_people</i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div id="editGO" class="editor navbar vertical subnav" ng-class="{'enabled' : (currentState >= states.imageEditing && currentState <= states.frameEditing),'disabled' : !(currentState >= states.imageEditing && currentState <= states.frameEditing)}">
	<nav class="grey darken-4">
		<div class="nav-wrapper">
			<ul class="center-align">
				<li ng-click="enableScale()"  class="editors tooltiped"  data-position="right" data-delay="50" data-tooltip="Scale image" ng-class="{'active':showScale}">
					<a href="" >
						<i class="material-icons center-align">aspect_ratio</i>
					</a>
				</li>
				<li ng-if="showScale">
					<input class="vertical range_" type="range" min="10" max="20000" value="{{getSelectedZoom()*100}}" orient="vertical" oninput="angular.element(this).scope().changeGOZoom(this.value)">
				</li>
				<li ng-click="enableDataZ()" class="editors tooltiped"  data-position="right" data-delay="50" data-tooltip="Set image depth"  ng-class="{'active':showDataZ}">
					<a href="">
						<i class="material-icons center-align">layers</i>
					</a>
				</li>
				<li ng-if="showDataZ">
					<input class="vertical range_" type="range" min="-5000" max="5000" value="{{getSelectedDataZ()}}"
					oninput="angular.element(this).scope().changeDataZ(this.value)" orient="vertical">
				</li>
				<span ng-if="currentState==states.shapeEditing">
				<li class="tooltipped" data-position="right" data-delay="50" data-tooltip="Choose shape">
					<a class='modal-trigger white-text' href='#choiceShape' >
						<i class="material-icons">attachment</i>
					</a>
				</li>
				<li class="tooltipped" data-position="right" data-delay="50" data-tooltip="Change color">
					<input type="color" id="html5colorpicker" onchange="angular.element(this).scope().setGOColor(this.value)">
				</li>
				</span >

				<span ng-if="currentState == states.frameEditing">
					<li class="tooltipped" data-position="right" data-delay="50" data-tooltip="Change backgound color">
					<input type="color" id="html5colorpicker" onchange="angular.element(this).scope().changeFrameBackgroundColor(this.value)">
				</li>
				<li class="tooltipped" data-position="right" data-delay="50" data-tooltip="Transparent background" ng-click="changeFrameBackgroundColor('transparent')">
					<a class='modal-trigger white-text' >
						<i class="material-icons">crop_free</i>
					</a>
				</li>
				</span>
				<li>
					<a class="tooltipped" ng-if="getSelectedGOId()" ng-click="removeGO()" data-position="right" data-delay="50" data-tooltip="Remove selected">
						<i class="material-icons center-align">delete</i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>


<div id="choiceShape" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Shapes</h4>
		<shape-menu callback="addGObject(a,b)" data-class="modal-action modal-close"></shape-menu>
		<!--<ul>
			<li ng-click="addGObject('shape','svg/ic_crop_5_4_48px.svg')"><a href="#!" class="shape modal-action modal-close"><img src="svg/ic_crop_5_4_48px.svg"></a></li>
			<li ng-click="addGObject('shape','svg/ic_navigate_before_48px.svg')"><a href="#!" class="shape modal-action modal-close"><img src="svg/ic_navigate_before_48px.svg"></a></li>
			<li ng-click="addGObject('shape','svg/ic_navigate_next_48px.svg')"><a href="#!" class="shape modal-action modal-close"><img src="svg/ic_navigate_next_48px.svg"></a></li>
			<li ng-click="addGObject('shape','svg/ic_panorama_fish_eye_48px.svg')"><a href="#!" class="shape modal-action modal-close"><img src="svg/ic_panorama_fish_eye_48px.svg"></a></li>
			<li ng-click="addGObject('shape','svg/ic_tag_faces_48px.svg')"><a href="#!" class="shape modal-action modal-close"><img src="svg/ic_tag_faces_48px.svg"></a></li>
		</ul>-->
	</div>
</div>

<input style="display:none;" id="uploadImageBtnn" type="file" accept="image/*" onchange="angular.element(this).scope().changeImage(this)"  value="#000000">
<a ng-if="!transparent" ng-click="changeTransparency()" class="btn-floating btn-large waves-effect waves-light black" style="position:fixed;top:calc(10% - 27.25px);left:calc(99% - 55px)"><i class="material-icons">tab_unselected</i></a>
<a ng-if="transparent" ng-click="changeTransparency()" class="btn-floating btn-large waves-effect waves-light black" style="position:fixed;top:calc(10% - 27.25px);left:calc(99% - 55px)"><i class="material-icons">tab</i></a>
<style type="text/css">
	.selectedGO {
		border : {{2/getSelectedScale()}}px dashed ;
	}
</style>
<style type="text/css">
	/*.selectedGO {
		border : 2px dashed ;
	}*/
	#dropzone-inf {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: {{bgColor}};
	}
	body {
		background-color: {{bgColor}};
	}
	.infOnTransition{
		transition:transform 1s;
	}

</style>
<style type="text/css">
.vertical.range_{
	-webkit-appearance: slider-vertical;
}
.goframe{

	border:2px solid;
	border-radius: 30px;
	
}
</style>
<style ng-if="transparent" type="text/css">
.go{
	opacity: 0.3;
}
.go.selectedGO{
	opacity: 1;
}

</style>
<!--<div class="impress" id="impress" style="position: absolute; transform-origin: left top 0px; transition: all 1200ms ease-out 0ms; -webkit-transition: all 1200ms ease-out 0ms; transform-style: preserve-3d; top: 50%; left: 50%; transform: perspective(30539.1414141414px) scale(0.0327448629429032);"><div ng-style="canvasStyle()" class="ng-scope" style="transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(-6849.48793428867px, -9350.87987568059px, 5000px); transition: transform 1200ms ease-out; -webkit-transition: transform 1200ms ease-out; pointer-events: auto; position: absolute; transform-origin: left top 0px; transform-style: preserve-3d;">
-->
<img id="svgIn" src="" class="hide"/>
<div id="dropzone-inf" ng-click="clickDropzone()" data-x="{{inf.dataX}}" data-y="{{inf.dataY}}" data-z="{{inf.dataZ}}">
<div data-x="{{inf.dataX}}" data-y="{{inf.dataY}}" data-z="{{inf.dataZ}}" style="position: absolute; transform-origin: left top 0px; transition: all 1200ms ease-out 0ms; -webkit-transition: all 1200ms ease-out 0ms; transform-style: preserve-3d; top: 50%; left: 50%; transform: perspective({{100000/inf.zoom}}px); zoom:{{inf.zoom}}%;">
	<div id="container" style="transform: translate3d({{inf.dataX}}px,{{inf.dataY}}px,{{inf.dataZ}}px) scale({{inf.scale}});  -webkit-transform: translate3d({{inf.dataX}}px,{{inf.dataY}}px,{{inf.dataZ}}px); position:absolute; zoom:{{inf.zoom}}%;transform-style:preserve-3d; transform-origin: left top 0px;" ng-class="{'infOnTransition' : infTransOn}" data-x="{{inf.dataX}}" data-y="{{inf.dataY}}" data-z="{{inf.dataZ}}">
	    <div ng-repeat="go in getGOContent()" id="{{wraPrefix+go._id}}" ng-class="{'selectedGO' : (go._id==getSelectedGOId())}" class="wrapper go" style="height:{{go.height+ 15}}px; width:{{go.width+ 15}}px ;  transform:translate(-{{50*go.scale}}%,-{{50*go.scale}}%) translate3d({{go.dataX/go.scale}}px,{{go.dataY/go.scale}}px,{{go.dataZ/go.scale}}px);  -webkit-transform:translate(-{{50}}%,-{{50}}%) translate3d({{go.dataX/go.scale}}px,{{go.dataY/go.scale}}px,{{go.dataZ/go.scale}}px); position:absolute; min-height:20px; min-width:20px; zoom:{{go.scale*100}}%" data-x="{{go.dataX}}" data-y="{{go.dataY}}" data-z="{{go.dataZ}}" ng-click="selectGO($event,go._id,go.type)" >
	    	<div ng-if="go.type=='frame'" id="f-{{frame._id}}" style="height:calc(100% - 12px); width:calc(100% - 12px); margin:6px; background-color:{{go.backgroundColor}}" class="goframe">
	    		<span  ng-repeat="go_f in go.content | orderObjectBy:'lvl'" style="height:{{go_f.height}}px; width:{{go_f.width}}px;  transform: translate3d({{go_f.dataX}}px,{{go_f.dataY}}px,{{go_f.dataZ}}px) scale({{go_f.scale}});            -webkit-transform: translate3d({{go_f.dataX}}px,{{go_f.dataY}}px,{{go_f.dataZ}}px) scale({{go_f.scale}}); position:absolute; min-height:20px; min-width:20px; " data-x="{{go_f.dataX}}" data-y="{{go_f.dataY}}" >

	                <img ng-if="go_f.type=='image'" id="f-{{go_f._id}}" class="goimage" src="{{go_f.src}}" style="height:calc(100%); width:calc(100%);"/>
	                <div ng-if="go_f.type=='shape'" style="zoom:{{go_f.zoom}}%">
						<svg id="{{go_f._id}}" style="background-color: transparent;" width="100%" height="100%" viewBox="0 0 48 48" ><path fill="black" d=""/></svg>
					</div>
	                <div ng-class="{'hide':(go.scale*inf.zoom/100)<1.5}" ng-if="go_f.type=='text'" id="{{go_f._id}}" class="editable gotext" style="height:{{go_f.height}}em; width:{{go_f.width}}em; margin:6px; color:{{go_f.color}}; font-weight: {{go_f.weight}}; font-style: {{go_f.fontStyle}}; text-decoration: {{go_f.textDecoration}}; font-family: {{go_f.fontFamily}}; font-size: {{go_f.sizeFontText}}px;">{{go_f.text}}</div>
	            </span>
	    	</div>
	    	<img ng-if="go.type=='image'" id="f-{{go._id}}" class="goimage" src="{{go.src}}" style="height:calc(100% - 12px); width:calc(100% - 12px); margin:6px;"/>
	    	<div ng-if="go.type=='shape'" style="zoom:{{go.zoom}}%">
				<svg id="{{go._id}}" style="background-color: transparent;" width="100%" height="100%" viewBox="0 0 48 48" ><path fill="black" d=""/></svg>
			</div>
		</div>
	</div>
</div>
</div>

