<!--
	* Name: 		listTrail.ng.html
	* Package: 		premi/client/trailsEditor/views
	* Author: 		Vegro Federico
	* Date: 		2015-08-04

	* Use:
	Template della vista associata allo $scope di listTrailCtrl. Mostra la lista dei
	percorsi creati finora dall’utente associati alla presentazione

	
	* Changes:
	Version		Date		Who 			Changes				Reason
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.3			2015-08-14	Vegro Federico	correzioni
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.2			2015-08-05	Vegro Federico	incremento
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.1			2015-08-04	Vegro Federico	inizio scrittura template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

	* Created by 404Notfound for Premi - Better than Prezi!

	* Premi is a free software: you can redistribute it and/or modify
	* it under the terms of the GNU General Public License as published by
	* the Free Software Foundation, either version 3 of the License, or
	* (at your option) any later version.

	* This program is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	* GNU General Public License for more details.

	* You should have received a copy of the GNU General Public License
	* along with this program. If not, see <http://www.gnu.org/licenses/>
-->

<div class="editor navbar vertical">
	<nav class="grey darken-4">
		<div class="nav-wrapper">
			<ul class="center-align">
				<li class="logo">
					<a href="">
						<img src="/imgs/premilogo_small.png">
					</a>
				</li>		
				<li class="divider"></li>
				<li class="editors tooltipped" data-position="right" data-delay="50" data-tooltip="Frame editor">
					<a href="" ng-click="goToState('premi.editor.frame')"><i class="material-icons center-align">picture_in_picture</i></a>
				</li>
				<li class="editors tooltipped" data-position="right" data-delay="50" data-tooltip="Infographic editor">
					<a href="" ng-click="goToState('premi.editor.infographic')"><i class="material-icons center-align">map</i></a>
				</li>
				<li class="editors active tooltipped" data-position="right" data-delay="50" data-tooltip="Trails editor">
					<a href=""><i class="material-icons center-align">gesture</i></a>
				</li>
				<li class="divider"></li>
				<li>
					<a ng-href="/editor/{{idpres}}/trails/new" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Add object">
						<i class="material-icons center-align">add</i>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a ng-click="goToState('premi.presentationManager.presentations')" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Exit from editor">
						<i class="material-icons center-align">exit_to_app</i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">
	<div class="row">
		<div class="col l12 m12 s12">
			<ul class="collection">
				<li ng-repeat="trail in Trails">
					<div class="collapsible-header">
						<i class="black-text mdi-content-gesture small"></i>
						{{trail.title}}
						<a href="/editor/{{idpres}}/trails/{{trail._id}}" class="right small">
							<i class="yellow-text mdi-editor-mode-edit small"></i>
						</a>
						<a href="/editor/{{idpres}}/trails/edit/{{trail._id}}" class="right small">
							<i class="green-text mdi-action-description small"></i>
						</a>
						<a href="/editor/{{idpres}}/trails/remove/{{trail._id}}" class="right small">
							<i class="blue-text mdi-action-delete small"></i>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
