<!--
	* Name: 		modTrail.ng.html
	* Package: 		premi/client/trailsEditor/views
	* Author: 		Vegro Federico
	* Date: 		2015-08-07
	* Use:
	Template della vista associata allo $scope di modTrailCtrl. Deve consentire la
	modifica di un percorso in tutti i suoi attributi.
	
	* Changes:
	Version		Date		Who 			Changes				Reason
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.4			2015-08-18	Vegro Federico	risolti bug di visualizzazione dei frame
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.3			2015-08-16	Vegro Federico	incremento
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.2			2015-08-09	Vegro Federico	incremento
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.1			2015-08-07	Vegro Federico	inizio scrittura template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	* Created by 404Notfound for Premi - Better than Prezi!
	* Premi is a free software: you can redistribute it and/or modify
	* it under the terms of the GNU General Public License as published by
	* the Free Software Foundation, either version 3 of the License, or
	* (at your option) any later version.
	* This program is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	* GNU General Public License for more details.
	* You should have received a copy of the GNU General Public License
	* along with this program. If not, see <http://www.gnu.org/licenses/>
-->
<style type="text/css">
	html{
		background-image:url('imgs/18.jpg');
		background-repeat: repeat;
	}
</style>
<div >
<div ng-class="{'hide':removingChkPnt}">
	<div class="editor navbar vertical">
		<nav class="grey darken-4">
			<div class="nav-wrapper">
				<ul class="center-align">
					<li class="logo">
						<a href="">
							<img src="/imgs/premilogo_small.png">
						</a>
					</li>		
					<li class="divider"></li>
					<li class="editors tooltipped" data-position="right" data-delay="50" data-tooltip="Frame editor">
						<a href="" ng-click="goToState('premi.editor.frame')"><i class="material-icons center-align">picture_in_picture</i></a>
					</li>
					<li class="editors tooltipped" data-position="right" data-delay="50" data-tooltip="Infographic editor">
						<a href="" ng-click="goToState('premi.editor.infographic')"><i class="material-icons center-align">map</i></a>
					</li>
					<li class="editors active tooltipped" data-position="right" data-delay="50" data-tooltip="Trails editor">
						<a href=""><i class="material-icons center-align">gesture</i></a>
					</li>
					<li class="divider"></li>
					<li ng-click="closeAll()">
						<a ng-href="/editor/{{idpres}}/trails" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Go to trail list">
							<i class="material-icons">toc</i>
						</a>
					</li>
					<li class="divider"></li>
					<li ng-click="save()">
						<a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Save">
							<i class="material-icons center-align">save</i>
						</a>
					</li>
					<li>
						<a ng-click="goToState('premi.presentationManager.presentations')" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Exit from editor">
							<i class="material-icons center-align">exit_to_app</i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<trail-map ids="{{getFramesId()}}" frames="{{getFrames()}}" trail="{{getTrail()}}"></trail-map>
</div>
<div ng-class="{'hide':!removingChkPnt}">
	<basic-toolbar active-state="premi.editor.trails"></basic-toolbar>
	<action-dialog title="Remove checkpoint" action-label="Remove" action-callback="remove()" discard-label="Discard" discard-callback="discard()">
		<p>Are you really sure you want to remove this checkpoint?</p>
	</action-dialog>
</div>
<style type="text/css">
	.selectedSideFrame {
		border : 4px solid blue;
	}
</style>
</div>