<!--
	* Name: 		basicToolbar.ng.html
	* Package: 		premi/client/editor/views
	* Author: 		Enrico De Lazzari
	* Date: 		2015-08-15

	* Use:
	Template della vista associata allo $scope di basicToolbar. Fornisce il menù per:
	- accedere al frameEditor;
	- accedere all'infographicEditor;
	- accedere al trail Editor.
	
	* Changes:
	Version		Date		Who 			Changes				Reason
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.1		2015-08-15	Enrico De Lazzari	scrittura template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

	* Created by 404Notfound for Premi - Better than Prezi!

	* Premi is a free software: you can redistribute it and/or modify
	* it under the terms of the GNU General Public License as published by
	* the Free Software Foundation, either version 3 of the License, or
	* (at your option) any later version.

	* This program is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	* GNU General Public License for more details.

	* You should have received a copy of the GNU General Public License
	* along with this program. If not, see <http://www.gnu.org/licenses/>
-->

<div class="editor navbar vertical">
	<nav class="grey darken-4">
		<div class="nav-wrapper">
			<ul class="center-align">
				<li class="logo">
					<a href="">
						<img src="/imgs/premilogo_small.png">
					</a>
				</li>		
				<li class="divider"></li>
				<li class="editors {{activeStateClass('premi.editor.frame')}} tooltipped" data-position="right" data-delay="50" data-tooltip="Frame editor">
					<a href="" ng-click="goToState('premi.editor.frame')"><i class="material-icons center-align">picture_in_picture</i></a>
				</li>
				<li class="editors {{activeStateClass('premi.editor.infographic')}} tooltipped" data-position="right" data-delay="50" data-tooltip="Infographic editor">
					<a href="" ng-click="goToState('premi.editor.infographic')"><i class="material-icons center-align">map</i></a>
				</li>
				<li class="editors {{activeStateClass('premi.editor.trails')}} tooltipped" data-position="right" data-delay="50" data-tooltip="Trails editor">
					<a href="" ng-click="goToState('premi.editor.trails')"><i class="material-icons center-align">gesture</i></a>
				</li>
				<li class="divider"></li>
				<li>
					<a ng-click="goToState('premi.presentationManager.presentations')" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Exit from editor">
						<i class="material-icons center-align">exit_to_app</i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
