<!--
    * Name:         editor.ng.html   
    * Package:      premi/client/editor/views/
    * Author:       Cossu Mattia
    * Date:         2015-6-8

    * Use:
    Template della view generale dell'editor di presentazioni. Fornisce il logo di Premi
    ed un header per il fallback quando la risoluzione non è sufficiente per modificare
    una presentazione

    
    * Changes:
    Version     Date        Who             	Changes             Reason
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.2         2015-8-24   De Lazzari Enrico  	header				aggiunto un header
    																per gli utenti che accedono
    																all'editor con una risoluzione
    																inferiore a quella minima
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    0.1         2015-6-10   Cossu Mattia  		creazione del template
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

    * Created by 404Notfound for Premi - Better than Prezi!

    * Premi is a free software: you can redistribute it and/or modify
    * it under the terms of the GNU General Public License as published by
    * the Free Software Foundation, either version 3 of the License, or
    * (at your option) any later version.

    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    * GNU General Public License for more details.

    * You should have received a copy of the GNU General Public License
    * along with this program. If not, see <http://www.gnu.org/licenses/>
-->

<div class="container-fluid hide-on-med-and-down">
    <style type="text/css">
    .divider{
        height: 2px;
    }
    </style>
	<div class="row">
		<div class="col l12 m12 s12 height-100x100" style="padding:0;">
			<div ui-view></div>
		</div>
	</div>
</div>

<navbar username="{{currentUser.username}}" class="hide-on-large-only"></navbar>

<fallback-message msg="Editor is not available on mobile devices" destination="/presentations" destination-msg="Go to presentations" class="hide-on-large-only"></fallback-message>