<!--
	* Name: 		shapeMenu.ng.html
	* Package: 		premi/client/editor/views
	* Author: 		Mattia Cossu
	* Date: 		2015-08-22

	* Use:
	Template della vista associata allo $scope di basicToolbar. Fornisce il menù per:
	- accedere al frameEditor;
	- accedere all'infographicEditor;
	- accedere al trail Editor.
	
	* Changes:
	Version		Date		Who 			Changes				Reason
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.1		2015-08-22	Mattia Cossu		scrittura template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

	* Created by 404Notfound for Premi - Better than Prezi!

	* Premi is a free software: you can redistribute it and/or modify
	* it under the terms of the GNU General Public License as published by
	* the Free Software Foundation, either version 3 of the License, or
	* (at your option) any later version.

	* This program is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	* GNU General Public License for more details.

	* You should have received a copy of the GNU General Public License
	* along with this program. If not, see <http://www.gnu.org/licenses/>
-->

<ul>
	<li ng-repeat="file in files" ng-click="callback({a : 'shape', b : file.filename})">
		<a href="#!" class="shape {{dataClass}}">
			<img src="{{file.filename}}">
		</a>
	</li>
</ul>
