<!--
	* Name: 		navbar.ng.html
	* Package: 		premi/client/navbar/views
	* Author: 		Ismaele Gobbo
	* Date: 		2015-08-21

	* Use:
	template della vista associato alla direttiva navbarDirective che permette 
	di inserire la navbar visualizzando l'utente loggato, i bottoni per le impostazioni 
	e l'uscita dalla pagina in cui si trova l'utente in quel momento.

	
	* Changes:
	Version		Date		Who 			Changes				Reason
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	0.1		2015-08-21	Ismaele Gobbo		scrittura template
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

	* Created by 404Notfound for Premi - Better than Prezi!

	* Premi is a free software: you can redistribute it and/or modify
	* it under the terms of the GNU General Public License as published by
	* the Free Software Foundation, either version 3 of the License, or
	* (at your option) any later version.

	* This program is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	* GNU General Public License for more details.

	* You should have received a copy of the GNU General Public License
	* along with this program. If not, see <http://www.gnu.org/licenses/>
-->

<header class="navbar-fixed" style="z-index: 998;">
    <nav id="headerPresentationManeger" class="grey darken-4">
        <ul class="left">
            <li>
                <a href="/" class="black-text brand-logo white-text" style="padding-left: 20px;">
                    Premi, <span class="thin" style="font-style:italic;">better than Prezi!</span>
                </a>
            </li>
        </ul>
        <ul class="right">
            <li><a class="white-text">{{username}}</a></li>
            <li><a data-position="bottom" data-delay="50" data-tooltip="Change password" href="/changepassword" class="white-text  tooltipped"><i class="material-icons small center-align">settings</i></a></li>
            <li><a href="/signout" class="white-text"><i class="material-icons small center-align">exit_to_app</i></a></li>
        </ul>
    </nav>
</header>

<div style="clear: both;"></div>
